/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xml
.idea/workspace.xml
composer.lock
vendor/composer/autoload_classmap.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/platform_check.php
vendor/dflydev/dot-access-data/CHANGELOG.md
vendor/dflydev/dot-access-data/src/Exception/MissingPathException.php
vendor/graham-campbell/result-type/composer.json
vendor/graham-campbell/result-type/LICENSE
vendor/guzzlehttp/guzzle/CHANGELOG.md
vendor/guzzlehttp/guzzle/composer.json
vendor/guzzlehttp/guzzle/README.md
vendor/guzzlehttp/guzzle/src/BodySummarizer.php
vendor/guzzlehttp/guzzle/src/Client.php
vendor/guzzlehttp/guzzle/src/ClientInterface.php
vendor/guzzlehttp/guzzle/src/Cookie/CookieJar.php
vendor/guzzlehttp/guzzle/src/Cookie/CookieJarInterface.php
vendor/guzzlehttp/guzzle/src/Exception/BadResponseException.php
vendor/guzzlehttp/guzzle/src/Exception/ConnectException.php
vendor/guzzlehttp/guzzle/src/Exception/RequestException.php
vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php
vendor/guzzlehttp/guzzle/src/Handler/CurlMultiHandler.php
vendor/guzzlehttp/guzzle/src/Handler/MockHandler.php
vendor/guzzlehttp/guzzle/src/Handler/StreamHandler.php
vendor/guzzlehttp/guzzle/src/HandlerStack.php
vendor/guzzlehttp/guzzle/src/MessageFormatter.php
vendor/guzzlehttp/guzzle/src/MessageFormatterInterface.php
vendor/guzzlehttp/guzzle/src/Middleware.php
vendor/guzzlehttp/guzzle/src/PrepareBodyMiddleware.php
vendor/guzzlehttp/guzzle/src/RequestOptions.php
vendor/guzzlehttp/guzzle/src/RetryMiddleware.php
vendor/guzzlehttp/guzzle/src/TransferStats.php
vendor/guzzlehttp/guzzle/src/Utils.php
vendor/guzzlehttp/promises/CHANGELOG.md
vendor/guzzlehttp/promises/composer.json
vendor/guzzlehttp/promises/README.md
vendor/guzzlehttp/promises/src/Coroutine.php
vendor/guzzlehttp/promises/src/Each.php
vendor/guzzlehttp/promises/src/FulfilledPromise.php
vendor/guzzlehttp/promises/src/Promise.php
vendor/guzzlehttp/promises/src/PromiseInterface.php
vendor/guzzlehttp/promises/src/RejectedPromise.php
vendor/guzzlehttp/promises/src/RejectionException.php
vendor/guzzlehttp/promises/src/Utils.php
vendor/guzzlehttp/psr7/CHANGELOG.md
vendor/guzzlehttp/psr7/composer.json
vendor/guzzlehttp/psr7/README.md
vendor/guzzlehttp/psr7/src/CachingStream.php
vendor/guzzlehttp/psr7/src/HttpFactory.php
vendor/guzzlehttp/psr7/src/MultipartStream.php
vendor/guzzlehttp/psr7/src/Query.php
vendor/guzzlehttp/psr7/src/Response.php
vendor/guzzlehttp/psr7/src/StreamWrapper.php
vendor/guzzlehttp/psr7/src/UploadedFile.php
vendor/guzzlehttp/psr7/src/Uri.php
vendor/guzzlehttp/psr7/src/Utils.php
vendor/laravel/sail/runtimes/8.0/Dockerfile
vendor/laravel/sail/runtimes/8.1/Dockerfile
vendor/laravel/sail/runtimes/8.2/Dockerfile
vendor/laravel/sail/runtimes/8.3/Dockerfile
vendor/laravel/sail/src/Console/Concerns/InteractsWithDockerComposeServices.php
vendor/laravel/sail/src/Console/InstallCommand.php
vendor/laravel/sail/stubs/mariadb10.stub
vendor/laravel/sail/stubs/mariadb11.stub
vendor/league/commonmark/CHANGELOG.md
vendor/league/commonmark/composer.json
vendor/league/commonmark/src/Extension/Attributes/Util/AttributesHelper.php
vendor/league/commonmark/src/Extension/Autolink/AutolinkExtension.php
vendor/league/commonmark/src/Extension/Autolink/UrlAutolinkParser.php
vendor/league/commonmark/src/Extension/CommonMark/Node/Block/ListBlock.php
vendor/league/commonmark/src/Extension/CommonMark/Parser/Block/FencedCodeParser.php
vendor/league/commonmark/src/Extension/CommonMark/Parser/Block/IndentedCodeParser.php
vendor/league/commonmark/src/Extension/CommonMark/Parser/Block/ListBlockParser.php
vendor/league/commonmark/src/Extension/CommonMark/Parser/Block/ListBlockStartParser.php
vendor/league/commonmark/src/Extension/CommonMark/Parser/Block/ListItemParser.php
vendor/league/commonmark/src/Extension/SmartPunct/QuoteParser.php
vendor/league/commonmark/src/Node/Block/Paragraph.php
vendor/league/commonmark/src/Parser/Block/DocumentBlockParser.php
vendor/league/commonmark/src/Parser/Block/ParagraphParser.php
vendor/league/commonmark/src/Parser/MarkdownParser.php
vendor/league/commonmark/src/Util/RegexHelper.php
vendor/phpoption/phpoption/composer.json
vendor/phpoption/phpoption/src/PhpOption/Option.php
vendor/phpunit/phpunit/ChangeLog-9.6.md
vendor/phpunit/phpunit/composer.json
vendor/phpunit/phpunit/composer.lock
vendor/phpunit/phpunit/src/Runner/PhptTestCase.php
vendor/phpunit/phpunit/src/Runner/Version.php
vendor/spatie/backtrace/src/Backtrace.php
vendor/spatie/flare-client-php/composer.json
vendor/spatie/flare-client-php/src/Context/RequestContextProvider.php
vendor/symfony/console/Output/StreamOutput.php
vendor/symfony/css-selector/CHANGELOG.md
vendor/symfony/css-selector/composer.json
vendor/symfony/css-selector/Node/AttributeNode.php
vendor/symfony/css-selector/Node/ClassNode.php
vendor/symfony/css-selector/Node/CombinedSelectorNode.php
vendor/symfony/css-selector/Node/ElementNode.php
vendor/symfony/css-selector/Node/FunctionNode.php
vendor/symfony/css-selector/Node/HashNode.php
vendor/symfony/css-selector/Node/MatchingNode.php
vendor/symfony/css-selector/Node/NegationNode.php
vendor/symfony/css-selector/Node/PseudoNode.php
vendor/symfony/css-selector/Node/SelectorNode.php
vendor/symfony/css-selector/Node/Specificity.php
vendor/symfony/css-selector/Node/SpecificityAdjustmentNode.php
vendor/symfony/css-selector/Parser/Handler/HashHandler.php
vendor/symfony/css-selector/Parser/Handler/IdentifierHandler.php
vendor/symfony/css-selector/Parser/Handler/NumberHandler.php
vendor/symfony/css-selector/Parser/Handler/StringHandler.php
vendor/symfony/css-selector/Parser/Parser.php
vendor/symfony/css-selector/Parser/Reader.php
vendor/symfony/css-selector/Parser/Token.php
vendor/symfony/css-selector/Parser/Tokenizer/TokenizerEscaping.php
vendor/symfony/css-selector/XPath/Extension/NodeExtension.php
vendor/symfony/css-selector/XPath/XPathExpr.php
vendor/symfony/error-handler/ErrorHandler.php
vendor/symfony/error-handler/ErrorRenderer/HtmlErrorRenderer.php
vendor/symfony/error-handler/ErrorRenderer/SerializerErrorRenderer.php
vendor/symfony/event-dispatcher/Attribute/AsEventListener.php
vendor/symfony/event-dispatcher/composer.json
vendor/symfony/event-dispatcher/Debug/TraceableEventDispatcher.php
vendor/symfony/event-dispatcher/Debug/WrappedListener.php
vendor/symfony/event-dispatcher/DependencyInjection/AddEventAliasesPass.php
vendor/symfony/event-dispatcher/DependencyInjection/RegisterListenersPass.php
vendor/symfony/event-dispatcher/EventDispatcher.php
vendor/symfony/event-dispatcher/EventDispatcherInterface.php
vendor/symfony/event-dispatcher/GenericEvent.php
vendor/symfony/event-dispatcher/ImmutableEventDispatcher.php
vendor/symfony/http-foundation/Session/Storage/MockArraySessionStorage.php
vendor/symfony/http-kernel/Kernel.php
vendor/symfony/routing/Router.php
vendor/symfony/string/AbstractString.php
vendor/symfony/string/AbstractUnicodeString.php
vendor/symfony/string/ByteString.php
vendor/symfony/string/CHANGELOG.md
vendor/symfony/string/composer.json
vendor/symfony/string/LazyString.php
vendor/symfony/string/Slugger/AsciiSlugger.php
vendor/symfony/string/UnicodeString.php
vendor/symfony/translation/Loader/CsvFileLoader.php
vendor/symfony/var-dumper/Caster/DOMCaster.php
vendor/symfony/var-dumper/Caster/ExceptionCaster.php
vendor/symfony/var-dumper/Dumper/CliDumper.php
vendor/symfony/yaml/CHANGELOG.md
vendor/symfony/yaml/Command/LintCommand.php
vendor/symfony/yaml/composer.json
vendor/symfony/yaml/Dumper.php
vendor/symfony/yaml/Escaper.php
vendor/symfony/yaml/Exception/ParseException.php
vendor/symfony/yaml/Inline.php
vendor/symfony/yaml/Parser.php
vendor/symfony/yaml/Tag/TaggedValue.php
vendor/vlucas/phpdotenv/composer.json
vendor/vlucas/phpdotenv/src/Dotenv.php
vendor/vlucas/phpdotenv/src/Parser/Entry.php
vendor/vlucas/phpdotenv/src/Repository/RepositoryBuilder.php
vendor/vlucas/phpdotenv/src/Store/File/Reader.php
vendor/vlucas/phpdotenv/src/Store/FileStore.php
vendor/vlucas/phpdotenv/src/Store/StoreBuilder.php
vendor/vlucas/phpdotenv/src/Util/Regex.php
vendor/vlucas/phpdotenv/src/Util/Str.php
