
    *{
        margin: 0;
        padding: 0;
    }

    body{
        margin: 0;
        padding: 0;
    }
    .container_card_inicio{
        --display: flex;
        --min-height: 70px;
        --flex-direction: row;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --align-items: center;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        border-radius: 12px 12px 12px 12px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .img_container_card_inicio{
        width: 60px;
        padding: 10px 10px 10px 20px;
    }

    .sibtittle_card_inicio{
        font-family: "Roboto", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: var(--e-global-color-46546eb);
        text-decoration: none;
        /* padding: 10px; */
        text-align: start;
    }

    .titulo_principal{
        font-family: "Varela Round", Sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2em;
        color: #7f5adc;
    }

    .subtitulos{
        column-gap: 1px;
        text-align: center;
        font-family: "Montserrat", Sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 1.4em;
        color: #000000;
    }

    .img_crousel_principal{
        border-radius: 10px 10px 10px 10px;
        width: 70%;
    }

    .btn_accion{
        background-color: #683cc0;
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        fill: #00ffa0;
        color: #00ffa0;
        box-shadow: 5px 0px 30px 0px rgba(0, 255, 232.0000000000002, 0.5);
        border-style: solid;
        border-color: #00ffa0;
        border-radius: 30px 30px 30px 30px;
        padding: 15px 50px 15px 50px;
        text-decoration: none;
    }

    .coantiner_card_services{
        border-radius: 12px 12px 12px 12px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding-top: 65px;
        padding-bottom: 65px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .coantiner_card_services2{
        border-radius: 12px 12px 12px 12px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 10;
    }

    .h3_subtitle{
        font-family: "Roboto", Sans-serif;
        font-size: 17px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #683cc0;
    }

    .img_coantiner_card_services{
        width: 60% !important;
        display: inline!important;
    }

    .texto_services{
        font-family: "Roboto", Sans-serif;
        font-size: 13px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #000000;
        text-decoration: none;
    }

    .h2_subtitle{
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #683cc0;
    }

    .text_parraf{
        font-family: "Roboto", Sans-serif;
        font-weight: 400;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        color: #000000;
    }

    .container_card_product{

    }

    .img_products{
        max-width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    .text_products{
        background-color: #7f5adc;
        border-radius: 0px 0px 15px 15px;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        padding: 10px;
    }

    .text_products2{
        background-color: #00ffa0;
        border-radius: 0px 0px 15px 15px;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        padding: 10px;
    }
    .cotizar{
        background-color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        fill: #683cc0;
        color: #683cc0;
        box-shadow: 5px 0px 15px 0px rgba(186.9999999999998, 0, 255, 0.5);
        border-style: solid;
        border-color: #683cc0;
        border-radius: 30px 30px 30px 30px;
        padding: 10px 30px 10px 30px;
        text-decoration: none;
    }

    .whatascontacto{
        background-color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        fill: #00ffa0;
        color: #00ffa0;
        box-shadow: 5px 0px 15px 0px rgba(0, 255, 145.23913043478262, 0.5);
        border-style: solid;
        border-color: #00ffa0;
        border-radius: 30px 30px 30px 30px;
        padding: 10px 30px 10px 30px;
        text-decoration: none;
    }

    .navbar-toggler {
        background-color: #00ffa0!important;
    }

    .consejos{
        background-color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        fill: #000000;
        color: #000000;
        box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
        border-style: solid;
        border-color: #000000;
        border-radius: 30px 30px 30px 30px;
        padding: 10px 30px 10px 30px;
        text-decoration: none;
    }

    .separador_sections{
        background-color: transparent;
        background-image: linear-gradient(70deg, #4F3DB3 0%, #00FEA0 100%);
        opacity: 1;
    }

    .h4_separador{
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
        color: #ffffff;
        font-size: 32px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .text_logo{
        font-family: "Montserrat", Sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        color: #fff;
    }

    .text_opriniones{
        font-family: "Roboto", Sans-serif;
        font-weight: 500;
        color: #00ffa0;
    }

    .h3_clientes{
        font-size: 45px;
        font-weight: 600;
        color: #00ffa0;
        text-align: end;
    }

    .text_clientes{
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #683cc0;
        text-align: end;
    }

    .img_marca{
        width: 65% !important;
    }

    .img_logo_footer{
        width: 170px;
        height: 45px;
    }

    .tittle_footer{
        font-size: 25px;
        font-weight: 600;
        color: #00ffa0;
        text-align: start;
    }

    .ul_footer a{
        text-align: left;
        font-family: "Roboto", Sans-serif;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 9px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #fff;
        text-decoration: none;
    }

    .separdor{
        margin-top: 7rem !important;
    }

    .icono_content{
        background: #fff;
        border-radius: 9px;
    }

    .header{
        background-color: #683CC0;
    }

    .nav-pills .nav-link {
        color: #fff;
        fill: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background: #00FFA0;
        color: #683CC0;
    }

    .subtite_negro{
        font-family: "Roboto", Sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #000;
    }

    .bold_clase{
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: #000;
    }

    .img_icon_card{
        width: 45px;
    }

    .texto_prinicpal_card{
        font-family: "Roboto", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        color: var(--e-global-color-46546eb);
    }

    .subtexto_prinicpal_card{
        font-family: "Roboto", Sans-serif;
        font-size: 10px;
        font-weight: 600;
    }

    .contenedor_facs{
        --display: flex;
        --min-height: 150px;
        --flex-direction: row;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --align-items: center;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --border-radius: 12px 12px 12px 12px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        border-radius: 10px;
        padding: 20px;
    }

    .btn_servicices_sect{
        background-color: #fff;
        font-family: "Montserrat", Sans-serif;
        font-size: 13px;
        font-weight: 500;
        text-transform: capitalize;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        fill: #683cc0;
        color: #683cc0;
        border-style: solid;
        border-color: #683cc0;
        border-radius: 20px 20px 20px 20px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
    }

    .titulo_modal{
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
        color: #00ffa0;
        font-size: 30px;
    }

    .subtitulo_modal{
        font-family: "Roboto", Sans-serif;
        font-weight: 600;
        color: #00ffa0;
        font-size: 15px;
    }

    .header_content_modal{
        background: #683cc0;
        color: #00ffa0;
    }

    .img_resenas{
        width: 80%;
    }

    .bi-caret-left::before {
        content: "\f230";
        color: #fff;
        font-size: 23px;
    }

    .icon_regreso{
        display: none;
    }

    @media only screen and (max-width: 991px) {
        .img_crousel_principal {
            width: 100%;
        }

        .h3_subtitle {
            font-size: 14px;
        }

        .coantiner_card_services {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .text_parraf {
            font-size: 13px;
        }

        .h2_subtitle {
            font-size: 20px;
        }

        .h3_clientes {
            font-size: 40px;
        }

        .btn_accion {
            padding: 7px 20px 7px 20px;
        }

    }

    @media only screen and (max-width:440px) {
        .titulo_principal {
            font-size: 19px;
        }

        .subtitulos {
            font-size: 14px;
        }

        .coantiner_card_services {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .coantiner_card_services2 {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 10px;
        }

        .h4_separador {
            font-size: 18px;
        }

        .separdor{
            margin-top: 0rem !important;
        }
        .h3_clientes {
            font-size: 32px;
        }

        .subtite_negro {
            font-size: 30px;
        }

        .h2_subtitle {
            font-size: 15px;
        }

        .btn_servicices_sect {
            font-size: 9px;
        }

        .subtitulos {
            font-size: 14px;
        }

        .navbar {
            padding: 20px;
        }

        .img_resenas {
            width: 100%;
        }

        .subtitulo_modal {
            font-size: 12px;
        }

        .accordion-item:first-of-type>.accordion-header .accordion-button {
            font-size: 13px;
        }

        .accordion-button {
            font-size: 13px;
        }

        .text_modal_faqs{
            font-size: 13px;
        }

        .img_icon_card {
            width: 40px;
        }
        .texto_prinicpal_card {
            font-size: 13px;
        }

        .subtexto_prinicpal_card {
            font-size: 9px;
            line-height: 11px;
        }

        .contenedor_facs {
            padding: 10px;
            margin-bottom: 20px;
        }

        .img_container_card_inicio {
            padding: 10px 10px 10px 15px;
        }

        .sibtittle_card_inicio {
            font-size: 13px;
        }

        .icon_regreso{
            display: block;
        }

    }
